<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\static\main.css" />
    <title>Blog Spot</title>
  </head>

  <body>
    <div id="nav_bar">
      <ul>
        <div class="left">
          <li><a href="/home">Home</a></li>
        </div>
        <div class="right">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </ul>
    </div>
    <div style="display: flex;">
      <div style="background-color: red">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi
          sunt eveniet quam. Commodi inventore necessitatibus obcaecati fugit,
          est ad sunt, facilis atque nisi saepe unde dolorum tempore aliquid
          sequi.
        </p>
      </div>
    </div>
    <div style="background-color: aqua;">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        rerum quia, dicta voluptates sint delectus praesentium sapiente et omnis
        eius modi, nulla commodi repudiandae exercitationem dolorum qui? Nihil,
        facilis ipsam.
      </p>
    </div>
    </div>
  </body>
</html>
